{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral py-8">{{ .Title }}</h1>
    {{ .Content | markdownify }}
  </header>
  {{ $code := where .Pages "Params.project" "code" }}
  {{ $community := where .Pages "Params.project" "community" }}
    <style>

    </style>
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
  <section class="mt-8 py-8">
    <div class="flex-container">
    {{ if gt (len $code) 0 }}
      <div class="flex-items">
        <h2 class="text-2xl font-semibold">Code Projects</h2>
        {{ range $code}}
        {{- $url := .Params.externalUrl | default (.RelPermalink | default false) }}
        <article class="pb-6 py-3">
            <a class="flex" href="{{ $url }}" aria-label="link to {{ .Params.Title | emojify }}">
            <!-- <div class="mr-3 text-3xl text-neutral-300"> -->
                {{ partial "icon.html" .Params.icon }}
            <!-- </div> -->
            <div>
                <h3 class="flex text-xl font-semibold">
                {{ .Params.Title }}{{ if .Params.externalUrl }}<svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z"></path></svg>{{ end }}
                </h3>
                <p class="text-sm text-neutral-400">
                {{ .Params.Description }}
                </p>
            </div>
            </a>
        </article>
        {{ end }}
      </div>
    {{ end }}
    {{ if gt (len $community) 0 }}
      <div class="flex-items">
        <h2 class="text-2xl font-semibold">Community Projects</h2>
        {{ range $community }}
        {{- $url := .Params.externalUrl | default (.RelPermalink | default false) }}
        <article class="pb-6 py-3">
            <a class="flex" href="{{ $url }}" aria-label="link to {{ .Params.Title | emojify }}">
            <!-- <div class="mr-3 text-3xl text-neutral-300"> -->
                {{ partial "icon.html" .Params.icon }}
            <!-- </div> -->
            <div>
                <h3 class="flex text-xl font-semibold">
                  {{ .Params.Title }}{{ if .Params.externalUrl }}<svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z"></path></svg>{{ end }}
                </h3>
                <p class="text-sm text-neutral-400">
                {{ .Params.Description }}
                </p>
            </div>
            </a>
        </article>
        {{ end }}
      </div>
    {{ end }}
    </div>
  </section>
{{ end }}
