{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral py-8">{{ .Title }}</h1>
    {{ .Content | markdownify }}
  </header>
  {{ $code := where .Pages "Params.project" "code" }}
  {{ $community := where .Pages "Params.project" "community" }}
    <style>

    </style>
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
  <section class="mt-8 py-8">
    <div class="flex-container">
    {{ if gt (len $code) 0 }}
      <div class="flex-items">
        <h2 class="text-2xl font-semibold">Code Projects</h2>
        {{ range $code}}
        {{- $url := .Params.externalUrl | default (.RelPermalink | default false) }}
        <article class="pb-6 py-3">
            <a class="flex" href="{{ $url }}" aria-label="link to {{ .Params.Title | emojify }}">
            <!-- <div class="mr-3 text-3xl text-neutral-300"> -->
                {{ partial "icon.html" .Params.icon }}
                {{ if .Params.externalUrl }}{{ partial "icon.html" "external-link" }}{{ end }}
            <!-- </div> -->
            <div>
                <h3 class="flex text-xl font-semibold">
                {{ .Params.Title }}
                </h3>
                <p class="text-sm text-neutral-400">
                {{ .Params.Description }}
                </p>
            </div>
            </a>
        </article>
        {{ end }}
      </div>
    {{ end }}
    {{ if gt (len $community) 0 }}
      <div class="flex-items">
        <h2 class="text-2xl font-semibold">Community Projects</h2>
        {{ range $community }}
        {{- $url := .Params.externalUrl | default (.RelPermalink | default false) }}
        <article class="pb-6 py-3">
            <a class="flex" href="{{ $url }}" aria-label="link to {{ .Params.Title | emojify }}">
            <!-- <div class="mr-3 text-3xl text-neutral-300"> -->
                {{ partial "icon.html" .Params.icon }}
                {{ if .Params.externalUrl }}{{ partial "icon.html" "external-link" }}{{ end }}
            <!-- </div> -->
            <div>
                <h3 class="flex text-xl font-semibold">
                {{ .Params.Title }}
                </h3>
                <p class="text-sm text-neutral-400">
                {{ .Params.Description }}
                </p>
            </div>
            </a>
        </article>
        {{ end }}
      </div>
    {{ end }}
    </div>
  </section>
{{ end }}
