{{ define "main" }}
<article>
    <header class="max-w-prose">
        {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
            {{ partial "breadcrumbs.html" . }}
        {{ end }}
        <h1 class="mb-8 mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
            {{ .Title | emojify }}
        </h1>
    </header>
    <section class="prose mt-0 flex max-w-full flex-col dark:prose-invert lg:flex-row">
        <div class="about-container min-h-0 min-w-0">
            <div class="about-div1">{{ .Content | markdownify }}</div>
            <div class="about-div2">
                    <!-- soft skills circular-progressbar -->
                  {{ range .Params.badges }}
                        {{ partial "badge.html" . }}
                  {{ end }}
            </div>
            <div class="about-div3 items-center">
                <blockquote class="callout quote">
                    <p>{{ .Params.Quote | markdownify | emojify }}</p>
                </blockquote>
            </div>
        </div>
    </section>
</article>

{{ end }}