{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral py-8">{{ .Title }}</h1>
    {{ .Content | markdownify }}
  </header>
    <section class="mt-8">
        {{- $logo := .Params.Logo }}
        {{- $logo_dark := .Params.logoDark }}
        {{ range sort .Pages ".Params.startDate" "desc" }}
        <article class="pb-6 py-3">
            <div class="exp-container">
              <div class="exp-text">
                <h3 class="text-xl font-semibold">{{ .Params.Job }}</h3>
                <p style="font-style: italic;"><a href="{{ .Params.link | safeURL }}" target="_blank">{{ .Params.Company }}</a>, {{ .Params.Location }}</p>
                <p class="text-base text-neutral-400 font-semibold">
                  {{ .Params.startDate | dateFormat "Jan 2006" }} -
                  {{ if .Params.endDate }}{{- .Params.endDate | dateFormat "Jan 2006" -}}{{ else }}Present{{ end }}</p>
                  <p class="text-base text-neutral-400">
                  {{ .Description }}
                  </p>
              </div>
              <div class="exp-image">
                <a href="{{ .Params.link | safeURL }}" target="_blank"><img src="{{ .Params.Logo | safeURL }}"></a>
              </div>
            </div>
        </article>
        {{ end }}
    </section>

{{ end }}
